cloudscraper            ## needed to bypass cloudfront check on personal-capital
requests==2.20.0
wheel                   ## fails without in pi (https://stackoverflow.com/questions/34819221/why-is-python-setup-py-saying-invalid-command-bdist-wheel-on-travis-ci)
